<div class="text-layout">
    <h1>Pipes Personalizados</h1>
    <p>
        Pipes creados para solucionar problemas {{ 'Emma' | mayus:verification }}
    </p>
</div>
<section>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <button pButton
                    type="button"
                    label="Mayúsculas"
                    class="m1 p-button-help p-button-outlined"
                    icon="pi pi-spin pi-spinner"
                    iconPos="left"
                    (click)="changeVerification()">
            </button>
        </div>

        <div class="p-toolbar-group-right">

            <button pButton
                    icon="pi pi-sort"
                    label="Nombre"
                    class="m-1 p-button-outlined"
                    (click)="changeOrder('nombre')">
            </button>
            <button pButton
                    icon="pi pi-sort"
                    label="Vuela"
                    class="m-1 p-button-outlined p-button-success"
                    (click)="changeOrder('vuela')">
            </button>
            <button pButton
                    icon="pi pi-sort"
                    label="Color"
                    class="mr-1 p-button-outlined"
                    (click)="changeOrder('color')">
            </button>
        </div>
    </p-toolbar>
</section>

<div class="grid">
    <div class="col mt-2">
        <p-table [value]="heroes | ordenar:orderTable">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre }}</td>
                    <td>{{heroe.vuela | vuela }}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
