<div>
    <h1 class="text-layout">Pipes Básicos</h1>
    <p class="secondary-text">
        Pipes incluidos en Angular - Usualmente en el common module
    </p>
</div>

<div class="grid">
    <div class="col md:col-6">
        <p-card header="Uppercase"
                [subheader]="nombreLower | uppercase">
            {{ nombreLower }}
        </p-card>
    </div>
    <div class="col md:col-6">
        <p-card [header]="nombreLower"
                [subheader]="nombreUpper | lowercase">
            {{ nombreUpper }}
        </p-card>
    </div>
    <div class="col md:col-6">
        <p-card header="Tittlecase"
                [subheader]="nombreCompleto | titlecase">
            {{ nombreCompleto }}
        </p-card>
    </div>
    
</div>

<div>
    <h1 class="text-layout">Date - Fecha</h1>
    <p class="secondary-text">
        Pipe para mostrar la fecha
    </p>
</div>

<div class="grid">
    <div class="col md:col-6">
        <p-card header="Date Pipe"
                subheader=" el pepe">
            <ul>
                <li> <span>{{ fecha | date: 'dd/MMMM/yyyy, a' }}</span>
                <li>
                <li>
            </ul>
            <hr>
            <ul>
                <li>
            </ul>
        </p-card>
    </div>
    <div class="col md:col-6">
        <p-card header="Date Pipe"
                subheader=" el pepe">
            <ul>
                <li> {{ fecha | date: 'dd/MM/yyyy' }}
                <li> {{ fecha | date: 'long':'GMT-6' }}
                <li> {{ fecha | date: 'long':'GMT-2' }}
                <li> {{ fecha | date: 'long':'GMT-5':'fr' }}
            </ul>
            <hr>
            <ul>
                <li>
            </ul>
            
        </p-card>
    </div>
</div>