<div class="text-layout">
    <h1>Pipes No Tan Comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el common module
    </p>
</div>

<div class="grid">
    <div class="col md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{ nombre }}, es un placer
                {{ genero | i18nSelect:invitacionMap }} aquí
            </p>
            <button pButton
                    type="button"
                    label="Cambiar Persona"
                    class="p-button-help p-button-outlined"
                    icon="pi pi-spin pi-spinner"
                    iconPos="left"
                    (click)="cambiarPersona()">
            </button>
        </p-fieldset>
    </div>
    <br>
    <div class="col md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                {{ clientes.length| i18nPlural:clientesMap}}
            </p>
            <button pButton
                    type="button"
                label="Borrar Cliente"
                    class="p-button-danger p-button-outlined"
                    icon="pi pi-spin pi-spinner"
                    iconPos="left"
                    (click)="borrarPersona()">
            </button>
        </p-fieldset>
    </div>
    <div class="col md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <h4>Normal</h4>
            <p> {{ clientes | slice:0 }} </p>
            <h4>Slice:0:4</h4>
            <p> {{ clientes | slice:0:4}} </p>
        </p-fieldset>
    </div>
    <div class="col md:col-6">
        <p-fieldset legend="Keyvalue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue"> {{ item.key }}: {{ item.value }}
            </ul>
        </p-fieldset>
    </div>
    <div class="col md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre *ngIf="!(valorPromesa | async)">Resolviendo Promesa</pre>
            <pre>{{ valorPromesa | async}}</pre>
        </p-fieldset>
    </div>
</div>