<div class="text-layout">
    <h1>Pipes No Tan Comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el common module
    </p>
</div>

<div class="grid">
    <div class="md:col-6 sm:col-9">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <span>
                Saludos {{ nombre }}, es un placer
                {{ genero | i18nSelect:invitacionMap }}
                a nuestro evento
            </span>
        </p-fieldset>
    </div>
    <div class="md:col-6 sm:col-9">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis dolorem, fuga commodi dolore, sit neque
                unde voluptates, ex suscipit expedita cum sapiente illo magnam. Modi error ipsum esse dolor nemo.
            </p>
        </p-fieldset>
    </div>
</div>