<div class="text-layout">
    <h1>Pipes No Tan Comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el common module
    </p>
</div>

<div class="grid">
    <div class="md:col-6 sm:col-9">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <span>
                Saludos {{ nombre }}, es un placer
                {{ genero | i18nSelect:invitacionMap }} aquí
            </span>
            <br><br>
            <button pButton
                    type="button"
                    label="Cambiar Persona"
                    class="p-button-help p-button-outlined"
                    icon="pi pi-spin pi-spinner"
                    iconPos="left"
                    (click)="cambiarPersona()">
            </button>
        </p-fieldset>
    </div>
    <br>
    <div class="md:col-6 sm:col-9">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <span>
                {{ clientes.length| i18nPlural:clientesMap}}
            </span>
            <br><br>
            <button pButton
                    type="button"
                    label="Borrar Cliente"
                    class="p-button-danger p-button-outlined"
                    icon="pi pi-spin pi-spinner"
                    iconPos="left"
                    (click)="borrarPersona()">
            </button>
        </p-fieldset>
    </div>
</div>